.settings .settings__sections {
  border-top: 1px solid #f7f7f7;
  padding-top: 30px;
}

.settings__icon {
  font-size: 20px;
  margin-right: 20px;
}

.settings__title {
  font-size: 22px;
  font-weight: 300;
}

.settings__setting {
  /* 애는 아이콘+텍스트 묶음 !!항상 class에 어느 content 들어가있는지 확인 */
  margin-bottom: 30px;
}
